.spinner {
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  animation: rotate 3s linear infinite;
  transform-origin: center center;
  width: 20px;
  height: 20px;
  fill: #2e2f31;
}
